.modal-win {
    height: 230px;
    min-width: 330px;
    background-color: var(--background);
}

.modal-win h1 {
    text-align: center;
}

.content-win {
    display: flex;
    height: 80%;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 auto;
}

.content-win a {
    color: var(--text-color);
    text-decoration: none;
}

.user {
    display: flex;
    gap: 50px;
}

.user input {
    margin-top: 5px;
}