.modal-win {
    height: 230px;
    width: 330px;
    background-color: var(--background);
}

.modal-win h1 {
    text-align: center;
}

.content-win {
    display: flex;
    height: 80%;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}