/* All varibles */

:root {
    --background:     #F2F2F2;
    --text-color:                #000000;
    --bacground-button-color:   #FBFBFB;
    --hover-button:             #C4C4C4;
    --pseudo-element: 
}