<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Учебный план</title>
</head>
<body>
    <main>
        <section class="left-bar">
            <h1>Учебный план</h1>
            <li class="nav-list">
                <li class="navigation-item">
                    <a href="#">Загрузить</a>
                </li>
                <li class="navigation-item">
                    <a href="#">Список схем</a>
                </li>
                <li class="navigation-item">
                    <a href="#">Отчеты</a>
                </li>
            </li>
        </section>
        
        <section class="top-menu">
            <ul>
                <li>
                    <a href="#">Результаты группы</a>
                </li>
                <li>
                    <a href="#">Что-то будет</a>
                </li>
            </ul>
        </section>

        <section class="content">

        </section>
    </main>
    
</body>
</html>