<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/modalExecute.css">
    <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.anychart.com/releases/8.9.0/css/anychart-ui.min.css"/>
    <title>Учебный план</title>
</head>
<body id="body" class="body">
    <header class="header-main">
        <nav class="nav-menu">
            <a href="#" class="text-logo"><h1>Учебный план</h1></a>
            <ul class="site-navigation">
                <li class="navigation-item"><a href="#">Кнопка 1</ф></li>
                <li class="navigation-item"><a href="#">Кнопка 2</ф></li>
                <li class="navigation-item"><a href="#">Кнопка 3</ф></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <div class="second-nav-menu">
            <ul class="links">
                <li><a href="#">Кнопка 1</a></li>
                <li><a href="#">Кнопка 2</a></li>
                <li><a href="#">Кнопка 3</a></li>
            </ul>
        </div>
        <div class="diagamGantt" id="graph-Gan"></div>
    </main>
    <script type="module" src="../static/js/private/makeGraphGantt/main.js"></script>
</body>
</html>