<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #element-actions{
            margin: 30px;
        }
    </style>
</head>
<body>
<div id='graph'></div>
<div id="element-actions"></div>
<input type="file" id="file"><br>
<div id="schemasFileList"></div>
<p>User list</p>
<div id="UsersList"></div>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="/js/private/adminPage.js"></script>
</html>
