<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<a href="/login">login</a>
<h1>register</h1>
<form id="formElem">
    <label for="name">name</label>
    <input type="text" id="name" name="name" minlength="5" required>
    <label for="email">mail</label>
    <input type="email" id="email" name="mail" minlength="5" required>
    <label for="password">password</label>
    <input type="password" id="password" name="password" minlength="5" required>
    <button type="submit">register</button>
</form>
</body>
<script src="/static/js/public/registerPage.js"></script>
</html>






