<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/study.css">
    <title>Student page</title>
</head>
<body>
    <h1><center>Student page</center></h1>

    <div id="elem" class="elemTask"></div>

    <div id="menuNote" id="nameUser" class="menuNote">
    </div>

    <script type="module" src="../static/js/private/formRating/collector.js"></script>
</body>
</html>